body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: red;
}

#container {
  border: 1px solid red;
}

.p1 {
  color: teal;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}